Data
bin/*.o
bin/lugaru
bin/.deps
run
Xcode/build
Xcode/*.xcodeproj/*.mode1v3
Xcode/*.xcodeproj/*.pbxuser
Makefile
Makefile.in
src/config.h
src/config.h.in
src/config.h.in~
stamp-h1
src/stamp-h1
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
